.demo-1 .elastislide-horizontal{padding:10px 37px;border-radius:10px/90px;box-shadow:0 3px 4px rgba(0,0,0,0.7);width:615px;margin-right:19px}.demo-1 .elastislide-wrapper:before,.demo-1 .elastislide-wrapper:after{border-radius:10px/90px;bottom:15px;box-shadow:0 15px 10px rgba(0,0,0,0.7);content:"";height:20%;right:20px;position:absolute;transform:rotate(-3deg);width:50%;z-index:-2}.demo-1 .elastislide-wrapper:after{right:auto;left:20px;transform:rotate(3deg)}.demo-2 .elastislide-vertical{max-width:170px;padding:37px 10px;border-radius:90px/10px;box-shadow:0 1px 3px rgba(0,0,0,0.1),inset -2px 0 3px 2px rgba(255,255,255,0.6),inset 2px 0 3px 2px rgba(255,255,255,0.6),inset 0 -10px 10px 1px rgba(155,155,155,0.1),inset 0 10px 10px 1px rgba(155,155,155,0.1)}.demo-2 .elastislide-vertical:before{top:30px;bottom:30px;right:0;left:0;content:" ";position:absolute;z-index:-2;box-shadow:0 0 15px rgba(0,0,0,0.6);border-radius:20px/160px}.demo-2 .elastislide-vertical:after{content:" ";position:absolute;z-index:-2}.demo-3 .elastislide-horizontal{background-color:#000;padding:30px 60px}.no-touch .demo-3 .elastislide-horizontal{opacity:0.8;-webkit-transition:opacity 0.3s ease-in-out;-moz-transition:opacity 0.3s ease-in-out;-ms-transition:opacity 0.3s ease-in-out;-o-transition:opacity 0.3s ease-in-out;transition:opacity 0.3s ease-in-out}.no-touch .demo-3 .elastislide-horizontal:hover{opacity:1}.demo-3 .elastislide-wrapper nav span{background-color:#000}.demo-3 .elastislide-carousel ul li a{padding:0 10px}.demo-3 .elastislide-carousel ul li a img{border-radius:10px;border:none}.demo-4 .elastislide-horizontal{background-color:transparent;border-radius:20px 20px 0 0}.demo-3 .elastislide-horizontal.elastislide-loading,.demo-4 .elastislide-horizontal.elastislide-loading{background-image:url(../images/loading_dark.gif)}.demo-4 .elastislide-carousel ul li a{padding:2px}.demo-4 .elastislide-carousel ul li a img{border-radius:10px;border:none;box-shadow:0 1px 2px #000}.demo-4 .elastislide-wrapper nav span{background-color:#666;box-shadow:inset 0 1px 1px rgba(0,0,0,0.2)}.demo-4 .image-preview img{border-radius:0 0 20px 20px;max-width:100%;display:block}.demo-4 .elastislide-carousel ul li.current-img a img{box-shadow:0 0 3px 2px rgba(62,235,255,0.8)}@media screen and (max-width:460px){.demo-3 .elastislide-horizontal{padding:10px 40px}}.demo-1 .elastislide-horizontal {
  padding: 10px 37px;
  border-radius: 10px/90px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7);
  width: 615px;
  margin-right: 19px; }

.demo-1 .elastislide-wrapper:before, .demo-1 .elastislide-wrapper:after {
  border-radius: 10px/90px;
  bottom: 15px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  content: "";
  height: 20%;
  right: 20px;
  position: absolute;
  transform: rotate(-3deg);
  width: 50%;
  z-index: -2; }

.demo-1 .elastislide-wrapper:after {
  right: auto;
  left: 20px;
  transform: rotate(3deg); }

.demo-2 .elastislide-vertical {
  max-width: 170px;
  padding: 37px 10px;
  border-radius: 90px/10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), inset 0 10px 10px 1px rgba(155, 155, 155, 0.1); }

.demo-2 .elastislide-vertical:before {
  top: 30px;
  bottom: 30px;
  right: 0;
  left: 0;
  content: " ";
  position: absolute;
  z-index: -2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 20px/160px; }

.demo-2 .elastislide-vertical:after {
  content: " ";
  position: absolute;
  z-index: -2; }

.demo-3 .elastislide-horizontal {
  background-color: #000;
  padding: 30px 60px; }

.no-touch .demo-3 .elastislide-horizontal {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.no-touch .demo-3 .elastislide-horizontal:hover {
  opacity: 1; }

.demo-3 .elastislide-wrapper nav span {
  background-color: #000; }

.demo-3 .elastislide-carousel ul li a {
  padding: 0 10px; }

.demo-3 .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none; }

.demo-4 .elastislide-horizontal {
  background-color: transparent;
  border-radius: 20px 20px 0 0; }

.demo-3 .elastislide-horizontal.elastislide-loading, .demo-4 .elastislide-horizontal.elastislide-loading {
  background-image: url(../images/loading_dark.gif); }

.demo-4 .elastislide-carousel ul li a {
  padding: 2px; }

.demo-4 .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #000; }

.demo-4 .elastislide-wrapper nav span {
  background-color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }

.demo-4 .image-preview img {
  border-radius: 0 0 20px 20px;
  max-width: 100%;
  display: block; }

.demo-4 .elastislide-carousel ul li.current-img a img {
  box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8); }

@media screen and (max-width: 460px) {
  .demo-3 .elastislide-horizontal {
    padding: 10px 40px; } }
